
<table>
    <tr>
        <td>
            <div class="content" *ngIf="!LoginStatusService.isLoggedIn">
               
                <form [formGroup]="form" (ngSubmit)="CheckLogin(t1)">
                    <h4>Login Page</h4>
                    <!-- Email -->
                    <mat-form-field appearance="fill">
                        <mat-label>UserID/Email</mat-label>
                        <input type="text" matInput formControlName="uid" placeholder="pat@example.com" #t1>
                    </mat-form-field>
                    <!-- password -->
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button type="submit" mat-button>Login</button>
                    <div class="note">{{msg}}</div>
                </form>
            </div>

            <div class="content" *ngIf="LoginStatusService.isLoggedIn">
                <form>
                    <button mat-raised-button (click)="Logout()" mat-button>Logout</button>
                </form>
            </div>
        </td>
    </tr>

</table>


<!-- 
<div class="container">
    <div class="field">
       
        <mat-form-field appearance="fill">
            <mat-label>UserID/Email</mat-label>
            <input type="text" matInput [(ngModel)]="uid" placeholder="pat@example.com" #t1>
        </mat-form-field>
    </div>

    <div class="field">
       
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <span class="button-wrapper">
        <button mat-raised-button color="primary" (click)="CheckLogin(t1)">Login</button>
    </span>

</div> -->