
 <!-- <input type="button" value="Get Data" (click)="onGetDataClick()"> -->
 <!-- <input type="text" placeholder="Search" [(ngModel)]="str">
 <input type="button" value="Search" (click)="onSearchClick()"><br>
 Sort:
 <select [(ngModel)]="sortcolumn">
     <option>username</option>
     <option>email</option>
     <option>phone</option>
 </select>
 <select [(ngModel)]="order">
     <option value="1">Ascending Order</option>
     <option value="-1">Descending Order</option>
 </select>
 <input type="button" value="Sort" (click)="onSortClick()"> -->


<table border="1">
    <tr>
        <th>UID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th></th>
    </tr>
    <tr *ngFor="let user of users; let i = index">
        <td>{{user["uid"]}}</td>
        <td>{{user["firstname"]}}</td>
        <td>{{user["lastname"]}}</td>
        <td>{{user["phone"]}}</td>
        <td><input type="button" value="Delete" (click)="onDeleteClick(i)"></td>
    </tr>

</table>

