
 <!-- <input type="button" value="Get Data" (click)="onGetDataClick()"> -->
 <input type="text" placeholder="Search" [(ngModel)]="str">
 <input type="button" value="Search" (click)="onSearchClick()"><br>
 Sort:
 <select [(ngModel)]="sortcolumn">
     <option>username</option>
     <option>email</option>
     <option>phone</option>
 </select>
 <select [(ngModel)]="order">
     <option value="1">Ascending Order</option>
     <option value="-1">Descending Order</option>
 </select>
 <input type="button" value="Sort" (click)="onSortClick()">

<table border="1">
    <tr>
        <th>UID</th>
        <!-- <th>Email</th> -->
        <th>Phone</th>
        <th>password</th>
        <!-- <th>Gender</th>
        <th>DateOfBirth</th> -->
        <th></th>
    </tr>
    <tr *ngFor="let user of users; let i = index">
        <td>{{user["uid"]}}</td>
        <td>{{user["phone"]}}</td>
        <td>{{user["password"]}}</td>
        <!-- <td>{{user.gender}}</td>
        <td>{{user.dob}}</td> -->
        <td><input type="button" value="Delete" (click)="onDeleteClick(i)"></td>
    </tr>
    <!-- <tr>
        <td><input type="text" [(ngModel)]="newemployee.empid" placeholder="Emp ID"></td>
        <td><input type="text" [(ngModel)]="newemployee.empname" placeholder="Emp Name"></td>
        <td><input type="text" [(ngModel)]="newemployee.salary" placeholder="Salary"></td>
        <td><input type="button" value="Insert" (click)="onInsertClick()"></td>
    </tr> -->
</table>


<!-- created: "2021-03-09 16:54:30"
password: "haha"
phone: "123456"
uid: "haha"
_id: "6047a847fbd0ae350c2a9830" -->